<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutique</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="list.css">
</head>
<body>
    <!-- Inclure le menu commun ici -->
    <header>
        <nav>
            <ul>
                <li th:text="'Argent : ' + ${tabHero.argent}"></li>
                <li><a href="/boutique">Boutique</a></li>
                <li><a href="/inventaire">Inventaire</a></li>
                <li><a href="/inventaire_monstre">Inventaire Monstre</a></li>
                <li><a href="/stockage">Stockage</a></li>
                <li><a href="/incubation">Incubation</a></li>
                <li><a href="/compte">Compte</a></li>
            </ul>
        </nav>
    </header>

    <h1>Boutique</h1>

    <main>
        <section class="products">
            <!-- Boucle pour les oeufs -->
            <div th:each="product : ${tabOeuf}">
                <div class="product">
                        <img src="product1.jpg" alt="Produit 1">
                        <p>Oeuf</p>
                        <p th:text="'Prix : ' + ${product.prix}"></p>
                        <button th:onclick="'acheter(\'' + __${pseudo}__ + '\',\'' + __${product.id}__ + '\', \'' + __'oeuf'__ + '\', \'' + __${product.oeufId}__ + '\', \'' + __${product.dureeEclosion}__ + '\')'">Acheter</button>            
                </div>
            </div>
            <!-- Boucle pour les incubateurs -->
            <div th:each="product : ${tabIncubateur}">
                <div class="product">
                        <img src="product1.jpg" alt="Produit 1">
                        <p>Incubateur</p>
                        <p th:text="'Prix : ' + ${product.prix}"></p>
                        <button th:onclick="'acheter(\'' + __${pseudo}__ + '\',\'' + __${product.id}__ + '\', \'' + __'incubateur'__ + '\', \'' + __${product.inventaireId}__ + '\')'">Acheter</button>            
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Boutique en ligne. Tous droits réservés.</p>
    </footer>

    <script>
        function acheter(pseudo, id, produit, prix, dureeEclosion) {
            alert("Produit ajouté au panier !"+ produit + "   " + id+ "   " + prix + "   " + dureeEclosion);

            var microserviceUrl = null;
            var data = null;
            if(produit=="oeuf"){
                microserviceUrl = "http://localhost:3006/ajouterOeuf";
                data = {
                    id: id,
                    pseudo: pseudo,
                    dureeEclosion:dureeEclosion,
                };
            }else{
                 microserviceUrl = "http://localhost:3004/ajouterIncubateur"; 
                 data = {
                    id: id,
                    pseudo: pseudo,
                };
            }    

                    
            // Configuration de la requête
            const requestOptions = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            };

            // Effectuer une requête HTTP POST vers le micro-service
            fetch(microserviceUrl, requestOptions)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erreur lors de l\'appel au micro-service');
                    }
                    const microserviceUrl2 ='http://localhost:3002/enleverArgent';
                    const data2 = {
                        id: id,
                        prix:prix,
                        pseudo: pseudo,
                    };
                    const requestOptions2 = {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json' // Modifier le type de contenu ici
                        },
                        body: JSON.stringify(data2)
                    };

                    // Effectuer une requête HTTP POST vers le micro-service
                    fetch(microserviceUrl2, requestOptions2)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Erreur lors de l\'appel au micro-service');
                            }
                            // Gérer la réponse du micro-service si nécessaire
                            console.log('Appel au micro-service réussi');
                        })
                        .catch(error => {
                            console.error('Erreur :', error);
                        });
                            // Gérer la réponse du micro-service si nécessaire
                            console.log('Appel au micro-service réussi');
                        })
                .catch(error => {
                    console.error('Erreur :', error);
                });

            
           
        }
    </script>
    <!-- Contenu de la page Boutique -->
</body>
</html>
