<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutique</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="list.css">
</head>
<body>
    <!-- Inclure le menu commun ici -->
    <header>
        <nav>
            <ul>
                <li th:text="'Argent : ' + ${argent}"></li>
                <li><a href="/boutique">Boutique</a></li>
                <li><a href="/inventaire">Inventaire</a></li>
                <li><a href="/inventaire_monstre">Inventaire Monstre</a></li>
                <li><a href="/stockage">Stockage</a></li>
                <li><a href="/incubation">Incubation</a></li>
                <li><a href="/compte">Compte</a></li>
            </ul>
        </nav>
    </header>

    <h1>Boutique</h1>

    <main>
        <section class="products">
            <!-- Boucle pour les oeufs -->
            <div th:each="product : ${tabOeuf}">
                <div class="product">
                        <img src="product1.jpg" alt="Produit 1">
                        <p>Oeuf</p>
                        <p th:text="'Prix : ' + ${product.prix}"></p>
                        <div id="pseudo" th:data-pseudo="${pseudo}" style="display: none;"></div>
                        <button th:onclick="'acheter(\'' + __${pseudo}__ + '\',\'' + __${product.id}__ + '\', \'' + __'oeuf'__ + '\', \'' + __${product.prix}__ + '\', \'' + __${product.dureeEclosion}__ + '\')'">Acheter</button>            
                </div>
            </div>
            <!-- Boucle pour les incubateurs -->
            <div th:each="product : ${tabIncubateur}">
                <div class="product">
                        <img src="product1.jpg" alt="Produit 1">
                        <p>Incubateur</p>
                        <p th:text="'Prix : ' + ${product.prix}"></p>
                        <div id="pseudo" th:data-pseudo="${pseudo}" style="display: none;"></div>
                        <button th:onclick="'acheter(\'' + __${pseudo}__ + '\',\'' + __${product.id}__ + '\', \'' + __'incubateur'__ + '\', \'' + __${product.prix}__ + '\')'">Acheter</button>            
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Boutique en ligne. Tous droits réservés.</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script>
        var stompClient = null;

        function connect() {
            var socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/updates', function (message) {
                    console.log('jjjjj')
                    showAlert(message.body);
                });
            });
        }

        function showAlert(message) {
            location.reload()
            alert(message)
        }

        connect();

       function acheter(pseudo, id, produit, prix, dureeEclosion) {
            const microserviceUrlArgent = 'http://localhost:3002/enleverArgent';
            const dataArgent = {
                id: id,
                prix: prix,
                pseudo: pseudo,
                produit:produit,
            };

            const requestOptionsArgent = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dataArgent)
            };

            // Effectuer une requête HTTP POST pour enlever l'argent
            fetch(microserviceUrlArgent, requestOptionsArgent)
                .then(responseArgent => {
                    if (!responseArgent.ok) {
                        throw new Error('Erreur lors de l\'appel pour enlever l\'argent');
                    }
                    // Récupérer le contenu de la réponse au format JSON
                    return responseArgent.json();
                })
                .then(dataArgent => {
                    // Vérifier si la réponse est "false"
                    if (dataArgent === false) {
                        alert("L'opération de paiement a échoué");
                    } else {
                        // L'opération de paiement a réussi, effectuer l'opération d'achat
                        let microserviceUrl = null;
                        let data = null;

                        if (produit === "oeuf") {
                            microserviceUrl = "http://localhost:3006/ajouterOeuf";
                            data = {
                                id: id,
                                pseudo: pseudo,
                                dureeEclosion: dureeEclosion,
                            };
                        } else {
                            microserviceUrl = "http://localhost:3004/ajouterIncubateur";
                            data = {
                                id: id,
                                pseudo: pseudo,
                            };
                        }

                        // Configuration de la requête
                        const requestOptions = {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        };

                        // Effectuer une requête HTTP POST pour ajouter l'élément
                        fetch(microserviceUrl, requestOptions)
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Erreur lors de l\'appel au micro-service');
                                }
                                var supprimerElementUrl = null;

                                if (produit === "oeuf") {
                                    supprimerElementUrl =  `http://localhost:3001/enleverOeuf`;
                                } else {
                                    supprimerElementUrl = `http://localhost:3001/enleverIncubateur`;
                                }
                                const requestOptionsSupprimer = {
                                    method: 'DELETE',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({ id: id })
                                };

                                fetch(supprimerElementUrl, requestOptionsSupprimer)
                                    .then(responseSupprimer => {
                                        if (!responseSupprimer.ok) {
                                            throw new Error('Erreur lors de la suppression de l\'élément dans la boutique');
                                        }
                                        // L'élément a été supprimé avec succès de la boutique
                                        console.log('Elément supprimé avec succès de la boutique');
                                        // Vérifier si la réponse est OK avant de recharger la page
                                        if (responseSupprimer.status === 200) {
                                            location.reload();
                                        }
                                    })
                                    .catch(errorSupprimer => {
                                        console.error('Erreur lors de la suppression de l\'élément dans la boutique:', errorSupprimer);
                                    });
                            })
                            .catch(error => {
                                console.error('Erreur lors de l\'appel au micro-service:', error);
                            });
                    }
                })
                .catch(error => {
                    console.error('Erreur lors de l\'appel pour enlever l\'argent:', error);
                });
        }



    </script>
</body>
</html>
