<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compte</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <!-- Inclure le menu commun ici -->
    <header>
        <nav>
            <ul>
                <li><a href="/boutique">Boutique</a></li>
                <li><a href="/inventaire">Inventaire</a></li>
                <li><a href="/inventaire_monstre">Inventaire Monstre</a></li>
                <li><a href="/stockage">Stockage</a></li>
                <li><a href="/incubation">Incubation</a></li>
                <li><a href="/compte">Compte</a></li>
            </ul>
        </nav>
    </header>

    <h1>Compte</h1>
<main>

    <section class="products">
            <!-- Boucle pour les oeufs -->
            <div>
                <div class="product">
                        <p th:text="'Pseudo : ' + ${tabHero.name}"></p>
                        <p th:text="'Argent : ' + ${tabHero.argent}"></p>
                        <p th:text="'Incubateur : ' + ${tabHero.nbIncubateur}"></p>
                </div>
                <button th:onclick="'deconnexion(\'' + __${pseudo}__ + '\')'">Déconnexion</button>            

            </div>
        </section>
</main>   
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script>
        var stompClient = null;

        function connect() {
            var socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/updates', function (message) {
                    showAlert(message.body);
                });
            });
        }

        function showAlert(message) {
            alert(message)
        }


    function deconnexion() {
        // Effectuer une requête HTTP GET vers la méthode de déconnexion
        fetch('/logout', { method: 'GET' })
            .then(response => {
                if (response.ok) {
                    // Redirection vers la page de déconnexion
                    window.location.href = '/';
                } else {
                    console.error('Erreur lors de la déconnexion');
                }
            })
            .catch(error => {
                console.error('Erreur :', error);
            });
    }

</script>
<footer>
    <p>&copy; 2024 Boutique en ligne. Tous droits réservés.</p>
</footer> 
</body>
</html>
