<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventaire</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="list2.css">

</head>
<body>
    <!-- Inclure le menu commun ici -->
    <header>
        <nav>
            <ul>
                <li th:text="'Argent : ' + ${tabHero.argent}"></li>
                <li><a href="/boutique">Boutique</a></li>
                <li><a href="/inventaire">Inventaire</a></li>
                <li><a href="/inventaire_monstre">Inventaire Monstre</a></li>
                <li><a href="/stockage">Stockage</a></li>
                <li><a href="/incubation">Incubation</a></li>
                <li><a href="/compte">Compte</a></li>
            </ul>
        </nav>
    </header>

    <h1>Inventaire</h1>

    <main>
        <section class="products">
            <!-- Boucle pour les oeufs -->
            <div th:each="product : ${tabOeuf}">
                <div class="product">
                        <img src="product1.jpg" alt="Produit 1">
                        <p>Oeuf</p>
                        <p th:text="'Durée éclosion : ' + ${product.dureeEclosion}"></p>
                        <button th:onclick="'vendre(\'' + __${pseudo}__ + '\',\'' + __${product.id}__ + '\', \'' + __'oeuf'__ + '\', \'' + __${product.oeufId}__ + '\', \'' + __${product.dureeEclosion}__ + '\')'">Vendre</button>            
                </div>
            </div>
            <!-- Boucle pour les incubateurs -->
            <div th:each="product : ${tabIncubateur}">
                <div class="product">
                        <img src="product1.jpg" alt="Produit 1">
                        <p>Incubateur</p>
                        <button th:onclick="'vendre(\'' + __${pseudo}__ + '\',\'' + __${product.id}__ + '\', \'' + __'incubateur'__ + '\', \'' + __${product.identifiantIncubateur}__ + '\')'">Vendre</button>            
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Boutique en ligne. Tous droits réservés.</p>
    </footer>
    <script>
        function vendre(pseudo, id, produit, idProduit, dureeEclosion) {
            var microserviceUrl = null;
            var data = null;
            var prix = null;

            if (produit == "oeuf") {
                microserviceUrl = "http://localhost:3006/enleverOeuf";
                data = {
                    id: id,
                    pseudo: pseudo,
                    dureeEclosion: dureeEclosion,
                };
                prix = Math.floor(Math.random() * (500 - 100 + 1)) + 100;
            } else {
                microserviceUrl = "http://localhost:3004/enleverIncubateur";
                data = {
                    id: id,
                    pseudo: pseudo,
                };
                prix = Math.floor(Math.random() * (2000 - 1000 + 1)) + 100;
            }

            alert("Produit vendu !" + produit + "   " + id + "   " + prix + "   " + dureeEclosion);

            // Configuration de la requête
            const requestOptions = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            };

            // Effectuer une requête HTTP POST vers le micro-service
            fetch(microserviceUrl, requestOptions)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erreur lors de l\'appel au micro-service');
                    }
                    // Récupérer le contenu de la réponse au format JSON
                    return response.json();
                })
                .then(result => {
                    // Vérifier si le résultat du premier appel est "true"
                    if (result) {
                        const microserviceUrl2 = 'http://localhost:3002/ajouterArgent';
                        const data2 = {
                            id: id,
                            prix: prix,
                            pseudo: pseudo,
                        };
                        const requestOptions2 = {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data2)
                        };

                        // Effectuer une requête HTTP POST vers le deuxième micro-service
                        return fetch(microserviceUrl2, requestOptions2);
                    } else {
                        // Retourner une promesse résolue avec la valeur "false" si le résultat du premier appel n'est pas "true"
                        return Promise.resolve(false);
                    }
                })
                .then(response => {
                    // Vérifier si la réponse du deuxième appel est valide
                    if (response && response.ok) {
                        alert("Vous avez déjà 6 incubateurs")
                        console.log('Deuxième appel réussi');
                        // Gérer la réponse du deuxième appel si nécessaire
                    } else {
                        alert("Erreur")
                        console.error('Erreur lors du deuxième appel');
                    }
                })
                .catch(error => {
                    console.error('Erreur :', error);
                });
        }

    </script>
</body>
</html>
