
h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content:space-evenly;
}

.product {
    margin-right: 20px; /* Espace entre les produits */
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product p {
    margin: 5px 0;
}

button {
    background-color: #5f84ac;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #56779b;
}

footer {
    background-color: #263545;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
